/* Variables */
$primaryColor: #039bca;

:root {
  --cardWidth: 250px;
  --cardHeight: 350px;
  --cardMargin: 16px;
}

.card {
  width: var(--cardWidth);
  margin: var(--cardMargin);
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2)
}

.cardImg {
  z-index: 1;
  display: block;
  //background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 8px 8px 0 0 ;
  height: 180px;
}

.descriptionContainer {
  padding: 16px;
}

.dayDate {
  margin: 0 0 0.35em;
  padding: 1em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.334;
  letter-spacing: 0;
}

.description {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(0, 0, 0, 0.6);
}

