/* Variables */
$backGround: #D3D3D3;
$font: Roboto;
$fontSize: 10px;
$weight: 300;

/* Override Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body{
    width: 100%;
    min-height: 100vh;
    background-color: $backGround;
    font-family: $font;
    font-weight: $weight;
    font-size: $fontSize;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}